
body{
	background-color: #f8f9fa !important;
}

nav{
	background-color: #ffffff;
}

.navbar .navbar-brand {
    font-weight: 100;
}

.navbar button {
    opacity: 0.8;
}

header.masthead {
	margin-top: 5vw;
	position: relative;
	width: 100%;
	min-height: auto;
	text-align: center;
	color: white;
	background-image: url("../3.jpg");
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
header.masthead .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px 100px;
    text-align: center;
}
header.masthead .header-content .header-content-inner h1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}
header.masthead .header-content .header-content-inner hr {
    margin: 30px auto;
}
header.masthead .header-content .header-content-inner p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 768px) {
    header.masthead {
    	height: 100%;
      	min-height: 600px;
    }
    header.masthead .header-content {
        position: absolute;
        top: 40%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    header.masthead .header-content .header-content-inner {
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
    }
    header.masthead .header-content .header-content-inner h1 {
        font-size: 50px;
    }
    header.masthead .header-content .header-content-inner p {
        font-size: 18px;
        max-width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
}

#myFooter {
    background-color: #ffffff;
    color: white;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 20px;
    color: #45454599;
    font-weight: bold;
    margin-top: 30px;
    font-weight: 100;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #353535b3;
}

#myFooter .logo{
  font-weight: 100;
}

#myFooter a {
    color: #838383e6;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: #4e4e4ee6;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #8c8989e6;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    background-color: #8c8989e6;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

#myFooter .btn:hover {
    background-color: #413c3ce6;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}


/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}
